<div class="container">
  <div class="row">
      <h2>Gestión de Materia Prima</h2>
      <button type="button" class="btn btn-primary" (click)="showformData()">
                Nuevo <i class="ion-md-add-circle"></i>
      </button>
  </div>

  <div class="row">
   <div class="text-center">
     <img *ngIf="showSpinner" src="assets/img/loader.svg" style="width:100px;">
   </div>
  </div>
  
  <div class="row" *ngIf="showform" class="formtravel">
        <form [formGroup]="registerForm" (ngSubmit)="register()">
             <div class="form-row">
                 <div class="form-group col-md-6">
                   <input type="text" autocomplete="off" placeholder="Nombre Materia Prima"
                   [ngClass]="{ 'is-invalid': submitted && f.materia.errors }"
                   class="form-control" formControlName="materia">
                 </div>
  
                 <div class="form-group col-md-6">
                      <select [ngClass]="{ 'is-invalid': submitted && f.medida.errors }"
                         class="form-control form-control" formControlName="medida">
                          <option value="">Unidad de Medida</option>
                          <option *ngFor="let tm of typeMedida" value={{tm.name}}>{{ tm.name | titlecase }}</option>
                      </select>
                   </div>
            </div>
    
             <button type="submit" class="btn btn-primary">Acceptar</button>
             <button type="button" class="btn btn-danger marginleftbuttons" (click)="clear()">Cancelar</button>
         </form>
   </div>
  
  
  
  <div class="row secciongrid" *ngIf="showgrid" >
          <kendo-grid class="table-responsive" [kendoGridBinding]="allTravels" [pageSize]="5" [pageable]="true" [sortable]="true"
          [filterable]="true" [groupable]="false"  (edit)="editHandler($event)"
           (cancel)="cancelHandler($event)" (remove)="removeHandler($event)"
          (save)="saveHandler($event)"  [navigable]="true">
          <kendo-grid-messages
            pagerPage="Página"
            pagerOf="de"
            pagerItems="Registros"
            pagerItemsPerPage="Registros por página">
         </kendo-grid-messages>
          <kendo-grid-column field="materia" title="Materia Prima" width="100"></kendo-grid-column>
          <kendo-grid-column field="medida"  title="UND Medida"  width="100"></kendo-grid-column>
          <kendo-grid-command-column title="Operaciones" width="150">
              <ng-template kendoGridCellTemplate let-isNew="isNew">
                  <button kendoGridEditCommand [icon]="'edit'" class="edit" [primary]="true">Editar</button>
                  <button kendoGridRemoveCommand [icon]="'delete'" class="delete">Eliminar</button>
                  <button kendoGridSaveCommand [icon]="'save'" class="search" >{{ isNew ? 'Nuevo' : 'Guardar' }}</button>
                  <button kendoGridCancelCommand [icon]="'close'" class="delete">{{ isNew ? 'Descartar' : 'Cancelar' }}</button>
              </ng-template>
          </kendo-grid-command-column>
        </kendo-grid>
  </div>
</div>