<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div *ngIf="false" class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading"><img style="width:100px;" src="./assets/img/logo.jpg" class="rounded"></div>
      <div class="list-group list-group-flush">
          <div class="load-item-menu">
              <ul class="lista-icon-menu-app" *ngFor="let item of listModules">
                  <li>
                    <a routerLink="{{ item.call }}">
                      <i class="icon-size {{ item.icon }}" ></i>
                      {{ item.name }} </a> </li>
              </ul>
          </div>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0" *ngFor="let item of listModules">
            <li class="nav-item active">
              <a routerLink="{{ item.call }}">
                 <i class="icon-size {{ item.icon }}"></i>
                    {{ item.name }} 
              </a> 
              <a *ngIf="false" class="nav-link" (click)="close()">Cerrar Sesión <span class="sr-only"></span></a>
            </li>
          </ul>
        </div>
      </nav>

      <div class="container-fluid">
          <router-outlet></router-outlet>
      </div> 
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->


