<div class="container">
    <div class="row">
        <h2>Gestión de Usuarios</h2>
        <button type="button" class="btn btn-primary" (click)="showformData()">
            Nuevo Usuario <i class="ion-md-add-circle"></i>
        </button>
    </div>

    <div class="row">
     <div class="text-center">
       <img *ngIf="showSpinner" src="assets/img/loader.svg" style="width:100px;">
     </div>
    </div>
    
    <div class="row" *ngIf="showform" class="formtravel">
          <form [formGroup]="registerForm" (ngSubmit)="save()">
               <div class="form-row">
                   <div class="form-group col-md-6">
                     <input type="text" autocomplete="off" placeholder="Usuario"
                     [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }"
                     class="form-control text-lowercase" formControlName="nombre">
                   </div>

                   <div class="form-group col-md-6">
                    <input type="text" autocomplete="off" placeholder="Nombre Completo"
                    [ngClass]="{ 'is-invalid': submitted && f.nombrecompeleto.errors }"
                    class="form-control text-capitalize" formControlName="nombrecompeleto">
                  </div>

                  <div class="form-group col-md-6">
                    <input type="password" autocomplete="off" placeholder="Contraseña"
                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                    class="form-control text-lowercase" formControlName="password">
                  </div>

                  <div class="form-group col-md-6">
                    <input type="text" autocomplete="off" placeholder="Cedula"
                    (keyup)="validateFormatNumber($event)"
                    [ngClass]="{ 'is-invalid': submitted && f.identificacion.errors }"
                    class="form-control" formControlName="identificacion">
                  </div>

                  <div class="form-group col-md-6">
                    <input type="text" autocomplete="off" placeholder="Celular"
                    (keyup)="validateFormatNumber($event)"
                    [ngClass]="{ 'is-invalid': submitted && f.telefono.errors }"
                    class="form-control" formControlName="telefono">
                  </div>
    
                   <div class="form-group col-md-6">
                        <select [ngClass]="{ 'is-invalid': submitted && f.rol.errors }"
                           class="form-control form-control" formControlName="rol">
                            <option [selected]="1==1">Rol</option>
                            <option *ngFor="let item of rolesUser" value={{item.name}}>{{ item.name | titlecase }}</option>
                        </select>
                   </div>

                   <div class="form-group col-md-6">
                    <select [ngClass]="{ 'is-invalid': submitted && f.idpunto.errors }"
                       class="form-control" formControlName="idpunto">
                        <option [selected]="1==1" >Punto de Venta</option>
                        <option *ngFor="let item of allPtv" value={{item.id}}>{{ item.nombre | titlecase }}</option>
                    </select>
               </div>
              </div>
      
      
               <button type="submit" class="btn btn-primary">Acceptar</button>
               <button type="button" class="btn btn-danger marginleftbuttons" (click)="clear()">Cancelar</button>
           </form>
     </div>
    
    
    
    <div class="row secciongrid" *ngIf="showgrid" >
            <kendo-grid class="table-responsive" [kendoGridBinding]="allUser" [pageSize]="5" [pageable]="true" [sortable]="true"
            [filterable]="true" [groupable]="false" 
            (edit)="editHandler($event)" (cancel)="cancelHandler($event)"
            (save)="saveHandler($event)" (remove)="removeHandler($event)" [navigable]="true">
            <kendo-grid-messages
              pagerPage="Página"
              pagerOf="de"
              pagerItems="Registros"
              pagerItemsPerPage="Registros por página">
           </kendo-grid-messages>
            <kendo-grid-column field="nombre" title="Usuario" width="90"></kendo-grid-column>
            <kendo-grid-column field="nombrecompleto" title="Nombre"  width="100"></kendo-grid-column>
            <kendo-grid-column field="identificacion" title="Cedula" width="100"></kendo-grid-column>
            <kendo-grid-column field="rol" title="Rol" width="80">
              <ng-template kendoGridCellTemplate let-dataItem let-column="column">
                <select class="form-control">
                  <option *ngFor="let item of rolesUser"
                   [selected]="item.name == dataItem.rol"
                   value={{item.name}}>{{ item.name | titlecase }}</option>
                </select>
              </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="telefono" title="Celular" width="100"></kendo-grid-column>
            <kendo-grid-column field="punto" title="Punto de venta" width="100">
              <ng-template kendoGridCellTemplate let-dataItem let-column="column">
                <select class="form-control">
                  <option *ngFor="let item of allPtv"
                  [selected]="item.id == dataItem.idpuntoventa"
                   value={{item.id}}>{{ item.nombre | titlecase }}</option>
             </select>
            </ng-template>
            </kendo-grid-column>

            <kendo-grid-column width="20">
              <ng-template kendoGridCellTemplate let-dataItem let-column="column">
                <div class="text-center">
                  <i class="ion-ios-lock text-warning" style="font-size:20px; cursor:pointer;" (click)="open(content, dataItem.id )"></i>
                </div>
              </ng-template>
            </kendo-grid-column>

            <kendo-grid-column width="20">
              <ng-template kendoGridCellTemplate let-dataItem let-column="column">
                <div class="text-center">
                  <i class="ion-ios-business text-success" style="font-size:20px; cursor:pointer;" (click)="open2(content2, dataItem.id )"></i>
                </div>
              </ng-template>
            </kendo-grid-column>
          
            <kendo-grid-command-column title="Operaciones" width="150">
                <ng-template kendoGridCellTemplate let-isNew="isNew">
                    <button kendoGridEditCommand [icon]="'edit'" class="edit" [primary]="true"></button>
                    <button kendoGridRemoveCommand [icon]="'delete'" class="delete"></button>
                    <button kendoGridSaveCommand [icon]="'save'" class="search" >{{ isNew ? 'Nuevo' : 'Guardar' }}</button>
                    <button kendoGridCancelCommand [icon]="'close'" class="delete">{{ isNew ? 'Descartar' : 'Cancelar' }}</button>
                </ng-template>
            </kendo-grid-command-column>
             </kendo-grid>
    </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Cambio de Contraseña</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div style="float: left;">
      <form [formGroup]="chagePassWForm" (ngSubmit)="updatePass()">
        <div class="input-group">
           <input type="text" class="form-control" formControlName="newpassword" 
              [ngClass]="{ 'is-invalid': submitted && fpw.newpassword.errors }"
              placeholder="Nueva contraseña">
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success">Actualizar</button>
  </div>
</ng-template>

<ng-template #content2 let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Cambio Usuario de Punto de Venta</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div style="float: left;">
      <form [formGroup]="chagePointForm">
        <div class="input-group">
          <select class="form-control" formControlName="idpunto" [ngClass]="{ 'is-invalid': submitted && fp.idpunto.errors }">
            <option [selected]="1==1" >Punto de Venta</option>
            <option *ngFor="let item of allPtv" value={{item.id}}>{{ item.nombre | titlecase }}</option>
          </select>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="changePunto()">Actualizar</button>
  </div>
</ng-template>