.banner
{
  height: 60px;
  width: 100%;
  background: #ffffff;
  color: #ed1b24;
}

.logo
{ 
 float: left;
 padding: 10px;
 margin-left: 100px;
}

.menulogin
{
  float: right; 
  padding: 10px; 
  margin-right: 100px; 
}

.img-logo
{
 width: 150px;
}

.fondo
{

 /* margin-top: 100px;
 background: url("/assets/img/download_app.png");
 background-repeat: no-repeat;
 height: 100%;
 width: 100%;
 background-size: 100%;*/
}

body
{
 background: url("/assets/img/download_app.png");
 background-repeat: no-repeat;
 height: 100%;
 width: 100%;
 background-size: 100%;
}

.inputvalidate
{
    margin-left: 400px;
    margin-right: 400px;
}

.icon-login
{
    float: right;
    position: relative;
    top: -38px;
    padding: 4px;
    font-size: 24px;
    background: #efeeed;
    height: 38px;
    border-radius: 3px;
    margin-right: 0px;
    color: #4563f3;
    width: 28px;
    cursor: pointer;
}

.icon-login-into
{
  font-size: 18px;
  cursor: pointer;
}

.recordar
{
 margin-left: 116px;
 margin-right:20px;
}

.recuperarclave
{
 margin-left: 477px;
 margin-right:20px;
}


.marca
{
    margin-left: 397px;
    margin-right: 20px;
}

.icon-login-user
{
  font-size: 30px;
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgb(69, 99, 243) !important;
  border-radius: .25rem;
}