<div class="container">
    <div class="row">
        <div class="col-sm">
        <div class="text-center">
            <img src="./assets/img/logo.jpg" class="rounded" alt="...">
          </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm">
            <h4 class="text-center">Autenticación Empresarial</h4>
            <div class="text-center">
            <div class="card">
                <div class="card-body">
                         <form class="justify-content-center" [formGroup]="loginForm" (ngSubmit)="login()">
                            <div class="form-group">
                              <input type="text" formControlName="username" autocomplete="off"  class="form-control" placeholder="Usuario">
                              <span><i class="ion-ios-contact icon-login"></i></span>
                            </div>
                            <div class="form-group">
                              <input type="password" formControlName="password" autocomplete="off"  class="form-control" placeholder="Contraseña">
                              <span><i class="ion-ios-lock icon-login"></i></span>
                            </div>
                            <div class="form-group form-check">
                                  <div class="custom-control custom-switch">
                                      <button type="submit" class="btn btn-primary"> 
                                          Iniciar Sesión 
                                          <i class="ion-ios-exit icon-login-into"></i>
                                      </button>
                                  </div>
                            </div>
                          </form>
                    </div>
          
                    <label *ngIf="showSpinner" class="form-check-label">
                        <p class="text-center">
                          <img src="assets/img/loader.svg" style="width:100px">
                        </p>
                    </label>

                        <div class="card">
                            <div class="card-body">
                               <span class="text-center">
                                    © Derechos Reservados, Desarrollado por Javier Renteria {{ dateNow | date:'yyyy' }}
                               </span> 
                          </div>
                        </div>
                       
                    
                </div>
              </div>
            </div>
      </div>
</div>
