<div class="container">
    <div class="row">
        <h2>Gestión de Productos</h2>
        <button type="button" class="btn btn-primary" (click)="showformData()">
                  Nuevo Producto <i class="ion-md-add-circle"></i>
        </button>
    </div>

    <div class="row">
     <div class="text-center">
       <img *ngIf="showSpinner" src="assets/img/loader.svg" style="width:100px;">
     </div>
    </div>
    
    <div class="row" *ngIf="showform" class="formtravel">
          <form [formGroup]="registerForm" (ngSubmit)="register()">
               <div class="form-row">
                   <div class="form-group col-md-6">
                     <input type="text" autocomplete="off" placeholder="Nombre Producto"
                     [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }"
                     class="form-control" formControlName="nombre">
                     <div class="errorform" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                       <i class="ion-ios-close-circle"></i> {{ fielrequired }}
                      </div>
                   </div>
    
                   <div class="form-group col-md-6">
                        <select [ngClass]="{ 'is-invalid': submitted && f.tipo.errors }"
                           class="form-control form-control" formControlName="tipo">
                            <option value="">Tipo de Producto</option>
                            <option *ngFor="let tp of tipoproducto" value={{tp.value}}>{{ tp.value | titlecase }}</option>
                        </select>
                       <div class="errorform" *ngIf="tipo.invalid && (tipo.dirty || tipo.touched)">
                         <i class="ion-ios-close-circle"></i> {{ fielrequired }}
                        </div>
                     </div>
              </div>
      
      
               <div class="form-row">
                    <div class="form-group col-md-6">
                            <input type="text" autocomplete="off" placeholder="Precio"
                             class="form-control" 
                             [ngClass]="{ 'is-invalid': submitted && f.precio.errors }"
                             formControlName="precio" (keyup)="validateFormatNumber($event)" >
                            <div class="errorform" *ngIf="precio.invalid && (precio.dirty || precio.touched)">
                              <i class="ion-ios-close-circle"></i> {{ fielrequired }}
                            </div>
                    </div>
               </div>
      
               <button type="submit" class="btn btn-primary">Acceptar</button>
               <button type="button" class="btn btn-danger marginleftbuttons" (click)="clear()">Cancelar</button>
           </form>
     </div>
    
    
    
    <div class="row secciongrid" *ngIf="showgrid" >
            <kendo-grid class="table-responsive" [kendoGridBinding]="allTravels" [pageSize]="5" [pageable]="true" [sortable]="true"
            [filterable]="true" [groupable]="false"  (edit)="editHandler($event)" (cancel)="cancelHandler($event)"
            (save)="saveHandler($event)" (remove)="removeHandler($event)" [navigable]="true">
            <kendo-grid-messages
              pagerPage="Página"
              pagerOf="de"
              pagerItems="Registros"
              pagerItemsPerPage="Registros por página">
           </kendo-grid-messages>
            <kendo-grid-column field="nombre" title="Producto" width="100"></kendo-grid-column>
            <kendo-grid-column field="precio" format="{0:c}" title="Precio"  width="100"></kendo-grid-column>
            <kendo-grid-column *ngIf="false" field="tipo" title="Tipo" width="100"></kendo-grid-column>
          
            <kendo-grid-command-column title="Operaciones" width="150">
                <ng-template kendoGridCellTemplate let-isNew="isNew">
                    <button kendoGridEditCommand [icon]="'edit'" class="edit" [primary]="true">Editar</button>
                    <button kendoGridRemoveCommand [icon]="'delete'" class="delete">Eliminar</button>
                    <button kendoGridSaveCommand [icon]="'save'" class="search" >{{ isNew ? 'Nuevo' : 'Guardar' }}</button>
                    <button kendoGridCancelCommand [icon]="'close'" class="delete">{{ isNew ? 'Descartar' : 'Cancelar' }}</button>
                </ng-template>
            </kendo-grid-command-column>
             </kendo-grid>
    </div>
</div>