.titulo
{
 float: left;
}

.btnNew
{
  float: right;
  margin-top:5px;
}

.formtravel
{
 margin-top: 47px;  
}

.secciongrid
{
 float: left;
 margin-top: 10px;
}


@media (max-width: 600px) {
  kendo-grid {
    width: 500px;
  }

  .k-grid-pager, .k-group-cell, .k-grouping-row {
    width: 500px !important;
    font-size: 11px !important;
  }

  .k-filtercell .k-filtercell-wrapper>.k-textbox {
    width: 96px;
    min-width: 0;
  }
}