<div class="container">
  <div class="row">
    <h2>Gestión de Puntos de Venta</h2>
  </div>

  <div class="row">
    <div class="text-center">
      <img *ngIf="showSpinner" src="assets/img/loader.svg" style="width:100px;">
    </div>
  </div>
  <div class="row secciongrid" *ngIf="showgrid">
    <kendo-grid class="table-responsive" [kendoGridBinding]="allTravels" [pageSize]="5" [pageable]="true"
      [sortable]="true" [filterable]="true" [groupable]="false" (edit)="editHandler($event)"
      (cancel)="cancelHandler($event)" (save)="saveHandler($event)" [navigable]="true">
      <kendo-grid-messages pagerPage="Página" pagerOf="de" pagerItems="Registros"
        pagerItemsPerPage="Registros por página">
      </kendo-grid-messages>
      <kendo-grid-column field="nombre" title="Punto" width="100"></kendo-grid-column>
      <kendo-grid-column field="direccion"  title="Direccion" width="100"></kendo-grid-column>
      <kendo-grid-column field="domicilios" title="# Domicilio" width="100"></kendo-grid-column>

      <kendo-grid-command-column title="Operaciones" width="150">
        <ng-template kendoGridCellTemplate let-isNew="isNew">
            <button kendoGridEditCommand [icon]="'edit'" class="edit" [primary]="true">Editar</button>
            <button kendoGridSaveCommand [icon]="'save'" class="search" >{{ isNew ? 'Nuevo' : 'Guardar' }}</button>
            <button kendoGridCancelCommand [icon]="'close'" class="delete">{{ isNew ? 'Descartar' : 'Cancelar' }}</button>
        </ng-template>
    </kendo-grid-command-column>
    </kendo-grid>
  </div>
</div>