<div class="container">
  <div class="row">
    <h2>Cargar Materia Prima A Punto </h2>
    <button type="button" class="btn btn-primary" (click)="showformData()">
      Ver Productos<i class="ion-md-add-circle"></i>
    </button>

    <!-- <button *ngIf="expression" type="button" class="btn btn-primary">
    Cantidad <span class="badge badge-light">{{ cnt }}</span>
    </button> -->
  </div>

  <div class="row">
    <div class="text-center">
      <img *ngIf="showSpinner" src="assets/img/loader.svg" style="width:100px;">
    </div>
  </div>

  <div class="row">
    <table *ngIf="showform" class="table table-hover">
      <thead>
        <tr>
          <th>Punto De Venta</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of allPuntos">
          <td>{{ item.nombre }}</td>
          <td>
            <button type="button" class="btn btn-primary" (click)="getPoint(item.id)">
              <i class="ion-ios-add-circle"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <table *ngIf="showgrid" class="table table-hover">
      <thead>
        <tr>
          <th>Producto</th>
          <th><input class="form-control" type="text" placeholder="Buscar Producto"></th>
        </tr>
      </thead>
      <tbody *ngFor="let item of allProducts; let i=index">
        <tr *ngIf="i<5">
          <td>{{ item.nombre }}</td>
          <td>
            <button type="button" class="btn btn-success" (click)="open(content, item.id)">
              <i class="ion-ios-add-circle"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>



<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Asociar Materia Prima</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div style="float: left;">
      <div class="input-group" *ngFor="let item of allMateria">
        <div class="input-group-prepend">
          <div style="margin-top: 3px;" class="input-group-text">
            <input (click)="asociar(item)" type="radio" aria-label="Radio button for following text input">
          </div>
        </div>
        <input style="margin-top: 3px;" type="text" class="form-control" disabled value="{{item.materia}}"
          aria-label="Text input with radio button">
      </div>
    </div>

    <div style="float:left;">
      <table *ngIf="sendPoint && sendPoint.length > 0" class="table table-hover">
        <thead>
          <tr>
            <th>Producto</th>
            <th>Cantidad</th>
          </tr>
        </thead>
        <tbody *ngFor="let item of sendPoint">
          <tr>
            <td>{{ item.materia }}</td>
            <td><input type="text" class="form-control" (keyup)="changeCantidad($event.target.value,item.idmateria)" value="{{item.cantidad}}" placeholder="# cantidad"></td>
            <td>
              <button type="button" class="btn btn-danger" (click)="delete(item.idmateria)">
                <i class="ion-ios-trash"></i>
              </button>
            </td>
            <td>
              <button type="button" class="btn btn-info" (click)="clear(item.idmateria)">
                <i class="ion-ios-refresh"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="saveInventario()">Registrar</button>
  </div>
</ng-template>