/* You can add global styles to this file, and also import other style files */

.entrar 
{
  --moz-transform: scale(.8); 
  --webkit-transform: scale(.8);
  --o-transform: scale(.8);
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -ms-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
  opacity: 0.2;
}

body.logout 
{
  --moz-transform: scale(.8); 
  --webkit-transform: scale(.8);
  --o-transform: scale(.8);
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -ms-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
  opacity: 0.2;
}

.izquierda
{
  width:3%;
  height: 670px;
  background: #2648f2;
  color: #ffffff;
  float: left;
  display:none;
}

.icon-size-funnel
{
  color: #2648f2;
  font-size: 23px;
  margin-left: 18px;
}

.load-item-menu
{
  /*width: 36%;*/
  color: #8f969f;
  float: left;
}

.lista-icon-element
{
  padding:9px;
  margin-top: 80px;
}

.lista-icon-element-user
{
  padding:7px;
  margin-top: 80px;
}

.lista-icon-menu-app
{
  color: #cdd2dc;
  float: left;
}

.configuration
{
  margin-top: 3px;
  color:#cdd2dc;
  float: left;
  padding:3px;
  font-size:20px;
}

li
{
  list-style:none;
  /*padding:2px 2px 2px 2px;*/
}

a{
  text-decoration: none !important;
}



.iconfirts
{
  font-size: 30px;
  padding: 9px;
}

.iconsecond
{
  font-size: 30px;
  padding: 14px;
}

.icon-size
{
  font-size: 25px;
}

.icon-size-person
{
  font-size: 30px;
}

.botons-top
{
  margin-top: 10px;
  float: left;
}

.content-render
{
  width: 1044px;
  height: 595px;
  background: #ffffff;
  margin-left: 15px;
  border-radius: 10px;
  border: solid 1px #2647f3;
}

.botons-top-right
{
  margin-top: 10px;
  float: right;
}

.btn-first
{
 background:#2648f2;
 color: #ffffff;
}

.btn-first-calendar
{
 background:#f3f5f9;
 color:#8d96a3;
 border:solid 1px  #e8ecf1;
 border-radius:3px;
}


.thtables
{
  color: #ffffff;
  background-color: #2647f3e0 !important;
  border-color: #dee2e6;
}

.right-item
{
  float: right !important;
}

.colorservicio
{
  color:#28a645;
}

.colorobservacion
{
  color: #24a2b8;
}

.totales
{
  float: right;
}

.contederecho
{
  float: right;
  width: 555px;
  height: auto;
  position: relative;
  top: -544px;
}

.colortotales
{
  color:#28a645;
  font-size: 27px;
}

.errorform
{
  color: #dc3545;
  border-radius: 9px;
  text-align: justify;
  position: absolute;
  top: 8px;
  z-index: 1;
  margin-left: 309px;
  font-size: 20px;
  animation: nudge 3s ease-out
}

@keyframes nudge {
  50% {
    transform: translate(10px, 0px);
  }
}

.formregister
{
  float: left;
}

.sumas
{
  float: right;
}

.marginleftbuttons
{
  margin-left: 11px;
}

.width-select
{
  height: 51px !important;
}


.swal2-styled.swal2-cancel {
  border: 0;
  border-radius: .25em;
  background: initial;
  background-color: #ea3838 !important;
  color: #fff;
  font-size: 1.0625em;
}

.swal2-icon.swal2-warning {
  border-color: #ea3738eb !important;
  color: #ea3738 !important;
}

.k-grid-toolbar 
{
  padding: .375rem !important;
}

.delete
{
  background: #ff0000 !important;
  color: #ffff !important;
  font-size: 12px;
}

.edit
{
  color: #ffff;
  font-size: 12px;
}

.search
{
  background: #28a645 !important;
  color: #ffff !important;
  font-size: 12px;
}
/* new css */
body 
{
  overflow-x: hidden;
}

.bg-light {
  background-color: #ffffff !important;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
  text-align: center;
}

#sidebar-wrapper .list-group {
  width:14rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: -32px;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: -32px;;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}